body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-button:hover {
  transform: translateY(-2px);
  transition: transform 1s ease;
  text-shadow: 2px 2px 4px rgba(148, 126, 126, 0.3);
}

/* Add text shadow on hover */
.login-button {
 margin: 10px;
}
