/* Custom CSS for ordering list */
.item-container {
    margin-bottom: 20px; /* Add margin between different date groups */
  }
  
  .order-info {
    background-color: #f2f2f2; /* Background color for date group */
    padding: 10px;
  }
  
  .order-date {
    font-size: 18px;
    font-weight: bold;
  }
  
  .item-card {
    display: flex;
    margin-bottom: 10px; /* Add margin between items */
  }
  
  .item-image {
    width: 100px;
    height: 100px;
    margin-right: 10px; /* Add space between image and details */
  }
  
  .item-details {
    flex: 1;
  }
  
  .item-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .divider {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc; /* Add a divider line between items */
  }
  